---
layout: default
---

{% assign member = page %}

<div class="row">
	<div class="col-md-12">
		<div class="media">
			{% if member.image %}
			<img class="pull-left pad-right media-object" width=120 src="{{ site.url}}/assets/images/facilitators/{{member.image}}">
			{% endif %}
			<div class="media-body titlebox">
				<div class="bigtitle media-heading">
					{{ member.title }}
				</div>
				<p>
				<div class="smallhead">
					{{ member.position }}
				</div>
			</div>
		</div>
	</div>
</div>

<div class="bigspacer"></div>

<div class="row">
	<div class="col-md-3">
		{% if member.email %}
		{% assign emailarray = member.email | split: '@' %}
		<div class="smallhead">
			Email
		</div>
		<div class="pad-left note">
			<div class="smallspacer"></div>
			<i class="fa fa-inbox fa-fw"></i>
			{{ emailarray.first }}<span style="display:none">obfuscate</span>@{{ emailarray.last }}
		</div>
		<div class="bigspacer"></div>
		{% endif %}
	</div>
	<div class="col-md-8">
		<div class="post">
			{{ content }}
		</div>

		{% assign lastname = member.title | split: ' ' | last %}
		{% assign firstinitial = member.title | split: ' ' | first | slice: 0 %}
		{% assign searchstring = lastname | append: ' ' | append: firstinitial %}

	</div>
	<div class="col-md-1"></div>
</div>
