---
layout: default
---

<div class="row">
	<div class="col-md-12">
		<div class="media">
			<div class="media-body titlebox">
				<div class="title media-heading">
					{{ page.title }}
				</div>
				<p>
				<div class="smallhead">
					{{ page.date_of_meeting }}
				</div>
			</div>
		</div>
	</div>
</div>

<div class="bigspacer"></div>

<div class="row">
	<div class="col-md-3">
		<div class="bigspacer"></div>
		<div class="glyphbox note">
		</div>
	</div>
	<div class="col-md-8">
		<div class="post">
			{{ content }}
		</div>
	</div>
	<div class="col-md-1"></div>
</div>
